*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#pedido{
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: greenyellow;
    font-size: 22px;
    width: 300px;
}

.btn-word{
    border:none;
    padding: 10px;
    top: 10px;
    right: 10px;
    background-color: green;
    color: aquamarine;

}

.btn-word:hover{
    cursor: pointer;
    opacity: 0.6;
}